:root {
    --bg: #DEDEDE;
    --text: #f5f5f5;
    --principal: #406E96;
    --secundaria: #2A4A64;
    --terciaria: #1F3A50;
}


.titulo {
    background-color: var(--principal);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 8rem;
    margin-top: 2rem;
}
.titulo h3 {
    font-size: 2rem;
}

.linhavaliar{
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: underline ;
   

   
    border:solid;
    border-color: #096;

}
.avaliar {
    position: relative;
    border: 1px solid red;
    margin-top: 3rem;
}

