:root {
    --bg: #DEDEDE;
    --text: #f5f5f5;
    --principal: #406E96;
    --secundaria: #2A4A64;
    --terciaria: #1F3A50;
}


.titulo {
    background-color: var(--principal);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 8rem;
    margin-top: 2rem;
    
}
.titulo h3 {
    font-size: 2rem;
}

.card{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    justify-content:space-between;
    flex-direction: column;
}
.linhavaliar{
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: underline ;
   line-height: 10rem;

}
.avaliar {
    position: relative;
    border: 1px solid red;
    margin-top: 3rem;
    background-color:var(--principal);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height:20rem;
    width: 80%;
    
}
.imglivro{
    background-color:var(--secundaria);
    color:#f5f5f5;
    width: 20rem;
    height: 15rem;
    border: 1px solid red;
    margin-left: 1rem;
   
}


.botao{
    background-color:var(--secundaria);
    color:#f5f5f5;
    width: 50rem;
    height: 2rem;
    border: 1px solid red;
    margin-right: 1rem;
}

