:root {
    --bg: #DEDEDE;
    --text: #f5f5f5;
    --principal: #406E96;
    --secundaria: #2A4A64;
    --terciaria: #1F3A50;
}

main{
border-color:red;
}
/* CSS DO BUTTON */
.avaliar {
    position: relative;
    border: 1px solid red;
    margin-top: 3rem;
    background-color: #406E96;
    display: flex;
    justify-content: left;
    align-items: center;
}

.botao{
    background-color:#2A4A64;
    color:#f5f5f5;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER DO BUTTON/SEARCH-BAR */
.container {
    display: flex;
    align-items: center; /* Alinha os elementos verticalmente */
    gap: 20px; /* Espaço entre os elementos */
}

.botao {
    display: flex;
}

/* CSS DA SEARCH-BAR */

.busca {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 5px;
    overflow: hidden; /* Garante que os elementos fiquem alinhados */
}

.search-form input {
    padding: 8px;
    border: none;
    outline: none;
    flex: 1; /* Faz o campo ocupar o espaço disponível */
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-form button img {
    width: 20px; /* Ajuste o tamanho do ícone */
    height: 20px;
}

.label {
    color: rgb(0, 0, 0); /* Cor do texto das labels */
    font-weight: bold;
    margin-bottom: 5px;
}

.inputNome {
    width: 100%; /* Largura total do input */
    padding: 10px;
    border: none;
    border-radius: 4px; 
    margin-bottom: 15px;
    background-color: white; /* Cor de fundo do input */
}

.inputID {
    width: 50%; /* Largura total do input */
    padding: 10px;
    border: none;
    border-radius: 4px; 
    margin-bottom: 15px;
    background-color: white; /* Cor de fundo do input */
}


/* CONTAINER DO INPUT USUARIO/ID */

.containerInput {
    background-color: #406E96; /* Cor de fundo do container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%; /* Largura do container */
}