:root {
    --bg: #DEDEDE;
    --text: #f5f5f5;
    --principal: #406E96;
    --secundaria: #2A4A64;
    --terciaria: #1F3A50;
}

.container {
    display:inline-block;
  }

main{
border-color:red;
}

.avaliar {
    position: relative;
    border: 1px solid red;
    margin-top: 3rem;
    background-color: #406E96;
    display: flex;
    justify-content: left;
    align-items: center;
}

.botao{
    background-color:#2A4A64;
    color:#f5f5f5;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center; /* Alinha os elementos verticalmente */
    gap: 20px; /* Espaço entre os elementos */
}

.botao {
    display: flex;
}

.busca {
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 5px;
    overflow: hidden; /* Garante que os elementos fiquem alinhados */
}

.search-form input {
    padding: 8px;
    border: none;
    outline: none;
    flex: 1; /* Faz o campo ocupar o espaço disponível */
}

.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-form button img {
    width: 20px; /* Ajuste o tamanho do ícone */
    height: 20px;
}